<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %> 

        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor, jdbijibsdjnd   fjiudf hudf hudnn huubeb8v qu0nfv  ufniahvqwej</p>
            <p>Lorem ipsum dolor, jdbijibsdjnd   fjiudf hudf hudnn huubeb8v qu0nfv  ufniahvqwej</p>
            <p>Lorem ipsum dolor, jdbijibsdjnd   fjiudf hudf hudnn huubeb8v qu0nfv  ufniahvqwej</p>
            <p>Lorem ipsum dolor, jdbijibsdjnd   fjiudf hudf hudnn huubeb8v qu0nfv  ufniahvqwej</p>

        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>